h3 {
  color: #f1c500;
  font-family: "Menlo", sans-serif;
  margin: 10px 0px 0px 0px;
}

p {
  margin: 0px 0px 0px 20px;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.25s ease;
  font-family: "Menlo", sans-serif;
  font-size: 0.8rem;
}

a:hover {
  color: rgb(160, 160, 160);
  text-decoration: none;
  transition: all 0.25s ease;
  font-family: "Menlo", sans-serif;
  font-style: italics;
  font-size: 0.8rem;
}

table {
  width: 100%;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

table,
th,
td {
  /* border: 0.5px solid white; */
  padding: 5px;
  /* border-style: dashed; */
  border-collapse: collapse;
}

th,
.projectHeader {
  font-style: italics;
  /* font-size: 0.8rem; */

  color: #00eeff;
}

.projectHeader {
  margin-left: 20px;
}

.portfolioScreenshot {
  width: 70%;
  margin-left: 20px;
}

.command {
  margin-bottom: 10px;
}

.links {
  margin-left: 20px;
}

#invalid {
  color: red;
}

#help {
  width: 50%;
}
