.projectHeader {
  margin-left: 20px;
  color: #00eeff;
}

.portfolioScreenshot {
  width: 70%;
  margin-left: 20px;
}

.githubLogo {
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .portfolioScreenshot {
    width: 98%;
    margin: auto;
    margin-left: 20px;
  }

  .projectHeader {
    font-size: 0.75rem;
  }
}
