.skillIcon {
  font-size: 70px;
  padding: 40px;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

@media screen and (max-width: 700px) {
  .skillsContainer {
    width: 100%;
  }
  .skillIcon {
    font-size: 50px;
    padding: 30px;
  }
}
