.socialIcon {
  font-size: 100px;
  padding: 40px;
}

.socialImage {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  padding: 10px 0 0 10px;
}

.socialImage:hover {
  filter: brightness(90%) sepia(36%) saturate(10800%);
}
